:root{
    --green-1 : #EEE9DA;
    --green-3 : #93BFCF;
    --green-4 : #6096B4;
    --display : #363636;
}

/* Extras */
html {
    font-size: 62.5%; /* 1 rem = 10px */    
}

body{
    background-image: linear-gradient(to top, #a18cd1 0%, #fbc2eb 100%);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

button {
    border-radius: 4rem;
    cursor: pointer;
    border: none;
    background-color: var(--green-3);
}
button:active{
    background-color: var(--green-4);
}
button:focus{
    border: 1px solid var(--green-3);

    outline: none;
}
/* Fondo */
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
/* Formato de la calculadora */
.calculadora{
    display: grid;
    grid-template-columns: repeat(4,  7.5rem);
    grid-template-rows: 18rem repeat(5, 7.5rem) ;
    background-color: var(--green-4);
    padding: 1.3rem;
    border-radius: 1rem;
    box-shadow: 1.5rem 1rem 0 .5rem #00000033;
    color: var(--green-1);
    font-size: 2.5em;

}

/* Display */

.display{
    grid-column: 1 / -1;
    padding: 1.6rem;
    display: flex;
    margin: 1rem 1rem 2rem;
    flex-direction: column;
    align-items: flex-end;
    background-color: var(--display);
    text-align: right;
    border-radius: 3rem;
    justify-content: space-between;
    word-break: break-all;
}

.valorActual{
    font-size: 3.5rem;
}
.valorAnterior{
    font-size: 2.7rem;
}

/* numeros y operadores */
.colum-2{
    grid-column: span 2;
}

.numero{

}
.operador{

}

.numero, .colum-2,.operador, .numeroEsp{
    margin: .2rem;
    font-size: 1.5rem;
}
.hora{
    text-align: start;
    width: 100%;
    height: 30px; 
    padding: .4rem 1rem; 
    font-size: 1.5rem;
}
